a {
  font-size: 2rem;
}
a span {
  font-size: 1.5rem;
  margin-left: 3rem;
}

a .white-text {
  position: absolute;
  right: 10%;
}

.sub-information .white-text:nth-child(1) {
  font-size: 1.5rem;
}

.sub-information .white-text:nth-child(2) {
  font-size: 1rem;
  position: absolute;
  right: 10%;
}

.important {
  position: relative;
  cursor: pointer;
}

.delete-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
}

@media (max-width: 776px) {
  .revenue {
    display: block;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .flex .grey-text .stat {
    font-size: 1.2rem;
  }

  .location {
    display: block;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.5rem;
  }

  .flex .white-text {
    font-size: 1.2rem;
  }

  .card-panel.flex {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.7rem;
  }

  .sub-information {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .delete-icon {
    right: 10%;
  }
}
