nav {
  margin-bottom: 2rem;
}

form {
  position: relative;
  display: flex;
}

.searchBar {
  position: absolute;
  width: 50%;
}

.searchBar:nth-child(2) {
  right: 0;
}

@media (max-width: 545px) {
  form {
    flex-direction: column;
  }

  .searchBar {
    width: 100%;
    background: #2196f3;
    height: 10vh;
  }

  .searchBar:nth-child(2) {
    margin-top: 10vh;
  }

  nav.blue {
    height: 20vh;
  }
}
